*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and(max-width: 1440px)and(min-width:375px) {
body{
    font-size: 15px;
}
}
main{
    width: 90%; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    
}
#one{
background-color: hsl(22, 94%, 50%);
width:30%;
font-size: 15px;
padding: 30px 30px;
}
.one{
    color:hsl(22, 94%, 50%) ;
}
#two{
    background-color: hsl(183, 72%, 17%);
    width: 30%;
    font-size: 15px;
    padding: 30px 30px;
}
.two{
    color: hsl(183, 72%, 17%);
}
#three{
    background-color: hsl(178, 90%, 8%);
    width: 30%;
    font-size: 15px;
    padding: 30px 30px;
}
.three{
    color: hsl(178, 90%, 8%);
}
#main{
    display: flex;
    margin-left:200px;
}
img{
    height: 30px;
    width: 50px;
    margin-bottom: 10px;
    margin-left: 5px;
}

h2{
    color: white;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: -3px;
}
p{
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.7;
}
button{
    border-color: white;
    border-radius: 20px;
padding: 10px 8px;
background-color: hsl(0, 0%, 95%);
}
a{
    text-decoration: none;
}
.footer{
    margin-left:0%;
    margin-top: 50px;
}